.txt1 {
    position: relative;
    top: 160px;
    text-align: center;
}

.txt1 h1 {
    color: #fff;
    font-size: 50px;
    font-family: "Brush Script MT", cursive;
}
.F1 {
    color: rgb(223, 97, 13);
}
.txt1 h2 {
    color: rgb(223, 97, 13);
    padding: 14px 0;
    font-size: 38px;
    font-family: "Brush Script MT", cursive;
}
.txt1 p {
    color: #fff;
    font-size: 20px;
    padding: 7px 0;
}
.pp11 {
    height: 100vh;
}
.home-btn {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
}
.home-btn button {
    padding: 10px 20px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(223, 97, 13);
    border: none;
    font-size: 20px;
}
.home-btn button:hover {
    background: none;
    border: 1px rgb(223, 97, 13) solid;
    transition: all 1s;
}
.home-btn button:active {
    background: none;
}
.anim1 {
    position: relative;
    top: 300px;
    border: 3px #fff solid;
    width: 70px;
    height: 20vh;
    margin: 0 auto;
    border-radius: 20%;
}
.anim1 p {
    border: 3px #fff solid;
    width: 30px;
    height: 4.5vh;
    margin:  0 auto;
    margin-top: 10px;
    border-radius: 50%;
}